# Step 1: Setting Up the envirement

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import os 
#import plotly.express as px
#from scipy import stats

In [5]:
# configure plot for better visibility 
plt.style.use('ggplot') # stylysh visualisation
sns.set_palette("coolwarm") # set color theme seaborn

In [2]:
# Display settings
pd.set_option('display.max_columns',None) # show all columns
pd.set_option('display.float_format','{:.2f}'.format)# format 2 decimal

# Step 2: Import the Data

In [14]:
# list files in my directory Sales_Data
files=os.listdir("Sales_Data") 
print(files)
# read them as pandas dataframe 

files_df=[pd.read_csv(f"Sales_Data/{file}") for file in files  ]
#print(files_df)
# conatenate all my files innto a single file 
all_data=pd.concat(files_df,ignore_index=True)

print(all_data.head())
all_data.shape
# save all_data as csv file in Output folder
all_data.to_csv("Output/data.csv",index=False)

['Sales_April_2019.csv', 'Sales_August_2019.csv', 'Sales_December_2019.csv', 'Sales_February_2019.csv', 'Sales_January_2019.csv', 'Sales_July_2019.csv', 'Sales_June_2019.csv', 'Sales_March_2019.csv', 'Sales_May_2019.csv', 'Sales_November_2019.csv', 'Sales_October_2019.csv', 'Sales_September_2019.csv']
  Order ID                     Product Quantity Ordered Price Each  \
0   176558        USB-C Charging Cable                2      11.95
1      NaN                         NaN              NaN        NaN
2   176559  Bose SoundSport Headphones                1      99.99
3   176560                Google Phone                1        600
4   176560            Wired Headphones                1      11.99

       Order Date                      Purchase Address
0  04/19/19 08:46          917 1st St, Dallas, TX 75001
1             NaN                                   NaN
2  04/07/19 22:30     682 Chestnut St, Boston, MA 02215
3  04/12/19 14:38  669 Spruce St, Los Angeles, CA 90001
4  04/12/19 14:38  669 Spruce St, Los Angeles, CA 90001

# Step 3: Analyzing the Data

In [3]:
df=pd.read_csv('Output/data.csv')

In [4]:
# display the first 5 rows 
df.head()
# display 5 last rows
df.tail()
# display data types 
df.info()
# display summary statistics
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186850 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 8.6+ MB

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,186305,186305,186305,186305,186305,186305
unique,178438,20,10,24,142396,140788
top,Order ID,USB-C Charging Cable,1,11.95,Order Date,Purchase Address
freq,355,21903,168552,21903,355,355

# Step 4: duplicates and missing values

In [5]:
# localize dupicates
df.loc[df.duplicated()]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
31,176585,Bose SoundSport Headphones,1,99.99,04/07/19 11:31,"823 Highland St, Boston, MA 02215"
356,NaN,NaN,NaN,NaN,NaN,NaN
735,NaN,NaN,NaN,NaN,NaN,NaN
1149,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1155,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
...,...,...,...,...,...,...
186632,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186738,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186782,259296,Apple Airpods Headphones,1,150,09/28/19 16:48,"894 6th St, Dallas, TX 75001"
186785,259297,Lightning Charging Cable,1,14.95,09/15/19 18:54,"138 Main St, Boston, MA 02215"
186826,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# drop duplicates
df.drop_duplicates(inplace=True)

In [7]:
# verify
df.loc[df.duplicated()]

Empty DataFrame
Columns: [Order ID, Product, Quantity Ordered, Price Each, Order Date, Purchase Address]
Index: []

In [8]:
# missing values
df.isnull().sum()

Order ID            1
Product             1
Quantity Ordered    1
Price Each          1
Order Date          1
Purchase Address    1
dtype: int64

In [9]:
df['Order ID'].fillna(method='ffill',inplace=True)
df.isnull().sum()

C:\Users\MatenTech\AppData\Local\Temp\ipykernel_19360\3008796454.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Order ID'].fillna(method='ffill',inplace=True)
C:\Users\MatenTech\AppData\Local\Temp\ipykernel_19360\3008796454.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Order ID'].fillna(method='ffill',inplace=True)

Order ID            0
Product             1
Quantity Ordered    1
Price Each          1
Order Date          1
Purchase Address    1
dtype: int64

In [43]:
df['Product'].mode()[0]

'USB-C Charging Cable'

In [10]:
df['Product'].fillna(df['Product'].mode()[0],inplace=True)
df.isnull().sum()

C:\Users\MatenTech\AppData\Local\Temp\ipykernel_19360\2419470899.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Product'].fillna(df['Product'].mode()[0],inplace=True)

Order ID            0
Product             0
Quantity Ordered    1
Price Each          1
Order Date          1
Purchase Address    1
dtype: int64

In [11]:
# change Quantity Ordered type to numeric 
df['Quantity Ordered']=pd.to_numeric(df['Quantity Ordered'],errors='coerce')

In [12]:
df['Quantity Ordered'].fillna(df['Quantity Ordered'].median(),inplace=True)

C:\Users\MatenTech\AppData\Local\Temp\ipykernel_19360\3084280876.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Quantity Ordered'].fillna(df['Quantity Ordered'].median(),inplace=True)

In [13]:
df['Price Each']=pd.to_numeric(df['Price Each'],errors='coerce')

In [15]:
df['Price Each'].fillna(df['Price Each'].mean(),inplace=True)

C:\Users\MatenTech\AppData\Local\Temp\ipykernel_19360\3989150322.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price Each'].fillna(df['Price Each'].mean(),inplace=True)

In [16]:
df.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          1
Purchase Address    1
dtype: int64

In [17]:
df['Order Date']=pd.to_datetime(df['Order Date'],errors='coerce')

C:\Users\MatenTech\AppData\Local\Temp\ipykernel_19360\1588227012.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Order Date']=pd.to_datetime(df['Order Date'],errors='coerce')

In [18]:
df['Order Date'].fillna(method='ffill',inplace=True)

C:\Users\MatenTech\AppData\Local\Temp\ipykernel_19360\1151088048.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Order Date'].fillna(method='ffill',inplace=True)

In [19]:
df.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    1
dtype: int64

In [20]:
df['Purchase Address'].fillna(method='ffill',inplace=True)

C:\Users\MatenTech\AppData\Local\Temp\ipykernel_19360\2306161420.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Purchase Address'].fillna(method='ffill',inplace=True)

In [21]:
df.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

# Step 5 : Data Reduction

There is no need to remove any columns

# Step 6: Feature Engennering

In [24]:
# extract month from Order Date
df['Month']=df['Order Date'].dt.month
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2.00,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",4
1,176558,USB-C Charging Cable,1.00,14.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",4
2,176559,Bose SoundSport Headphones,1.00,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",4
3,176560,Google Phone,1.00,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",4
4,176560,Wired Headphones,1.00,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",4
...,...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3.00,2.99,2019-09-17 20:56:00,"840 Highland St, Los Angeles, CA 90001",9
186846,259354,iPhone,1.00,700.00,2019-09-01 16:00:00,"216 Dogwood St, San Francisco, CA 94016",9
186847,259355,iPhone,1.00,700.00,2019-09-23 07:39:00,"220 12th St, San Francisco, CA 94016",9
186848,259356,34in Ultrawide Monitor,1.00,379.99,2019-09-19 17:30:00,"511 Forest St, San Francisco, CA 94016",9
186849,259357,USB-C Charging Cable,1.00,11.95,2019-09-30 00:18:00,"250 Meadow St, San Francisco, CA 94016",9

In [ ]:
# a function to extract the city from purchace address
def get_city(address):
    return address.split(',')[1]
# a function to exctract the state from purchace address

def
# apply the function to the dataframe and create new columns City

In [ ]:
df['Purchase Address'].str.split(',').str[2] Dallas(TX)

0          TX 75001
1          TX 75001
2          MA 02215
3          CA 90001
4          CA 90001
            ...
186845     CA 90001
186846     CA 94016
186847     CA 94016
186848     CA 94016
186849     CA 94016
Name: Purchase Address, Length: 185688, dtype: object